<table class="gameboard">
  <tr>
    <td class="boardsquare" id="r1xc1"></td>
    <td class="boardsquare" id="r1xc2"></td>
    <td class="boardsquare" id="r1xc3"></td>
    <td class="boardsquare" id="r1xc4"></td>
    <td class="boardsquare" id="r1xc5"></td>
    <td class="boardsquare" id="r1xc6"></td>
    <td class="boardsquare" id="r1xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare" id="r2xc1"></td>
    <td class="boardsquare" id="r2xc2"></td>
    <td class="boardsquare" id="r2xc3"></td>
    <td class="boardsquare" id="r2xc4"></td>
    <td class="boardsquare" id="r2xc5"></td>
    <td class="boardsquare" id="r2xc6"></td>
    <td class="boardsquare" id="r2xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare" id="r3xc1"></td>
    <td class="boardsquare" id="r3xc2"></td>
    <td class="boardsquare" id="r3xc3"></td>
    <td class="boardsquare" id="r3xc4"></td>
    <td class="boardsquare" id="r3xc5"></td>
    <td class="boardsquare" id="r3xc6"></td>
    <td class="boardsquare" id="r3xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare" id="r4xc1"></td>
    <td class="boardsquare" id="r4xc2"></td>
    <td class="boardsquare" id="r4xc3"></td>
    <td class="boardsquare" id="r4xc4"></td>
    <td class="boardsquare" id="r4xc5"></td>
    <td class="boardsquare" id="r4xc6"></td>
    <td class="boardsquare" id="r4xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare" id="r5xc1"></td>
    <td class="boardsquare" id="r5xc2"></td>
    <td class="boardsquare" id="r5xc3"></td>
    <td class="boardsquare" id="r5xc4"></td>
    <td class="boardsquare" id="r5xc5"></td>
    <td class="boardsquare" id="r5xc6"></td>
    <td class="boardsquare" id="r5xc7"></td>
    </tr>
  <tr>
    <td class="boardsquare" id="r6xc1"></td>
    <td class="boardsquare" id="r6xc2"></td>
    <td class="boardsquare" id="r6xc3"></td>
    <td class="boardsquare" id="r6xc4"></td>
    <td class="boardsquare" id="r6xc5"></td>
    <td class="boardsquare" id="r6xc6"></td>
    <td class="boardsquare" id="r6xc7"></td>
  </tr>
  <tr>
    <td class="boardsquare" id="r7xc1"></td>
    <td class="boardsquare" id="r7xc2"></td>
    <td class="boardsquare" id="r7xc3"></td>
    <td class="boardsquare" id="r7xc4"></td>
    <td class="boardsquare" id="r7xc5"></td>
    <td class="boardsquare" id="r7xc6"></td>
    <td class="boardsquare" id="r7xc7"></td>
  </tr>
</table>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
