@media screen and (min-width: 360px) and (max-width: 503px) {
  .gamearea {
    width: 350px;
    margin: 0 auto;
  }
  .gameboard {
    width: 346px;
    height: 346px;
    border: 2px inset grey;
    margin: 16px auto 0;
  }
  table {
    background-color: darkslategrey;
    border-radius: 5px;
  }
  .boardsquare {
    border: 1px inset darkgrey;
    width: 41px;
    height: 41px;
    /*background-color: blanchedalmond;*/
    color: beige;
    font-size: 23px;
    text-align: center;
  }
  .dw {
    border-radius: 10%;
    background-color: pink;
    border-color: pink;
  }
  .dl {
    border-radius: 10%;
    background-color: lightblue;
    border-color: lightblue;
  }
  .tl {
    border-radius: 10%;
    background-color: royalblue;
    border-color: royalblue;
  }
  .gamemessages {
    text-align: center;
    margin: -4px 0 -34px;
  }
  .gamemessages span {
    font-size: 16px;
    color: green;
  }
  .gamemessages p {
    display: inline-block;
    font-size: 17px;
    line-height: .2;
  }
  .letterracks {
    display: inline-block;
    position: relative;
    left: 2px;
  }
  .ui {
    display: inline-block;
    position: relative;
    bottom: 15px;
  }
  .button.submit {
    display: block;
    width: 57%;
    height: 31px;
    z-index: 41;
    background-color: green;
    margin-bottom: -2px;
  }
  .button.submit:hover {
    background-color: darkgreen;
  }
  .button.submit span {
    position: relative;
    top: 9px;
  }
  .button.menu, .button.reset {
    display: block;
    height: 11px;
    width: 57%;
    margin-bottom: 8px;
  }
  .button.menu span, .button.reset span {
    position: relative;
    bottom: 1px;
  }
  .button.reset {
    background-color: rgb(215,0,0);
    margin-top: -4px;
  }
  .button.reset:hover {
    background-color: darkred;
  }
  .confirmsubmit {
    position: fixed;
    z-index: 500001;
    top: 17%;
    left: calc(50% - 106px);
    background-color: rgba(0,0,0,.8);
    padding: 8px;
    width: 194px;
    font-size: 14px;
    text-align: center;
    border: 1px solid red;
    display: none;
  }
  .unabletosubmit {
    position: fixed;
    z-index: 500001;
    top: 17%;
    left: calc(50% - 97px);
    background-color: rgba(0,0,0,.8);
    padding: 2px;
    width: 194px;
    font-size: 14px;
    text-align: center;
    border: 1px solid red;
    display: none;
  }
  .unabletosubmit h3 {
    margin: 1px 0 10px;
    text-decoration: underline;
  }
  .unabletosubmit span {
    margin-top: 6px;
    font-size: 18px;
  }
  .unabletosubmit p {
    margin: 6px 0 0;
    font-size: 11px;
  }
  #page-cover {
    z-index: 500000;
    display: none;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  #submit-cover {
    z-index: 40;
    display: none;
    background-color: rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .tilerack1 {
    background-color: darkred;
    padding: 4px 0 1px 0;
    margin: 28px 0 6px;
    width: 266px;
    height: 108px;
    text-align: center;
    border-bottom: 3px solid brown;
    vertical-align: bottom;
    display: inline-block;
  }
  .gameover .tilerack1 {
    background-color: darkred;
    padding: 4px 0 1px 0;
    margin: 29px 0 -6px;
    width: 266px;
    text-align: center;
    border-bottom: 3px solid brown;
    height: auto !important;
  }
  .tilerack2 {
    background-color: darkred;
    padding: 4px 0 1px 0;
    margin: 8px 0 6px;
    width: 266px;
    text-align: center;
    border-bottom: 3px solid brown;
  }
  .tileholder {
    display: inline-block;
    margin: 0 1px;
    width: 44px;
    height: 44px;
    border: 1px solid red;
  }
  .letter {
    width: 44px;
    height: 44px;
    font-size: 37px;
    background-color: darkorange;
    text-align: center;
    border: 1px solid orange;
    opacity: .92;
    overflow: hidden;
  }
  .letter p {
    position: relative;
    top: -27px;
    left: 22px;
    font-size: 11px;
    line-height: 1;
    width: 20px;
    text-align: right;
  }
  .letter span {
    position: relative;
    top: 15px;
  }
  .letter:hover {
    cursor: pointer;
  }
  .cornerpointsdl {
    font-size: .3em;
    font-weight: 700;
  }
  .cornerpointstl {
    font-size: .3em;
    font-weight: 700;
  }
  .landingletter {
    display: inline-block;
    border: red 1px solid;
    -webkit-backface-visibility: hidden;
    cursor: auto !important;
    width: 38px;
    height: 38px;
    font-size: 32px;
  }
  .landingletter span {
    top: 12px;
  }
  .landingletter p {
    left: 14px !important;
  }
  .landingtitle {
    display: block;
    text-align: center;
    margin-top: 80px;
  }
  .button.mainplay {
    margin: 40px auto 0;
    display: block;
  }
  #howtoplay {
    left: calc(50% - 178px);
    width: 340px;
  }
  .instructionsteps {
    width: 96%;
    padding:0 3px;
  }
  .endgameuserselect {
    font-size: 15px;
    margin: -18px 0 -14px;
    padding: 1px;
    border-radius: 10px;
    bottom: 1px;
    position: relative;
    z-index: 100;
  }
  .rackletter {
    margin: 2px 2px;
  }
  .onboard {
    position: absolute;
    left: -2px;
    top: -2px;
  }
  .sortable-ghost {
    position: absolute;
    left: -2px;
    top: -2px;
  }
}
