@media screen and (min-width: 481px) {
  .gameboard {
    max-width: 1280px;
    border: 2px inset grey;
    margin: 16px auto 0;
  }
  table {
    background-color: darkslategrey;
    border-radius: 5px;
  }
  .boardsquare {
    border: 1px inset darkorange;
    width: 64px;
    height: 64px;
    background-color: blanchedalmond;
    color: beige;
    font-size: 30px;
    text-align: center;
  }
  .dw {
    border-radius: 10%;
    background-color: pink;
    border-color: pink;
  }
  .dl {
    border-radius: 10%;
    background-color: lightblue;
    border-color: lightblue;
  }
  .tl {
    border-radius: 10%;
    background-color: royalblue;
    border-color: royalblue;
  }
  .tilerack1 {
    background-color: darkred;
    padding: 4px 0 8px 0;
    margin: 16px auto 6px;
    width: 396px;
    text-align: center;
    border-bottom: 3px solid brown;
  }
  .tilerack2 {
    background-color: darkred;
    padding: 4px 0 8px 0;
    margin: 8px auto 6px;
    width: 396px;
    text-align: center;
    border-bottom: 3px solid brown;
  }
  .tileholder {
    display: inline-block;
    margin: 0 3px;
    width: 67px;
    height: 67px;
    border: 1px solid red;
  }
  .letter {
    width: 66px;
    height: 66px;
    font-size: 56px;
    background-color: darkorange;
    text-align: center;
    border: 1px solid orange;
    opacity: .92;
    overflow: hidden;
  }
  .letter p {
    position: relative;
    top: -30px;
    left: 24px;
  }
  .letter span {
    position: relative;
    top: 23px;
  }
  .letter:hover {
    cursor: pointer;
  }
}
