@media screen and (min-width: 481px) {
  .gameboard {
    max-width: 1280px;
    border: 2px inset grey;
    margin: 16px auto 0;
  }
  .boardsquare {
    border: 1px inset white;
    width: 64px;
    height: 64px;
    background-color: blanchedalmond;
  }
  .tw {
    border-radius: 10%;
    background-color: red;
    border-color: red;
    display: block;
    color: white;
    font-size: 36px;
  }
  .dw {
    border-radius: 10%;
    background-color: pink;
    border-color: pink;
    display: block;
    color: white;
    font-size: 36px;
  }
}
