/* main scheme is #03a9f4 main, #FF3100 notify, #e1f5fe background */

body {
  /* background: #e1f5fe; */
  background: black;
  margin:0;
  padding:0;
  padding-bottom: 80px;
  font-family: 'Roboto', sans-serif;
  color: white;
  color: rgba(256,256,256, 0.87);
}

#alerts {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  bottom: 80px;
  position: fixed;
  text-align: center;
  color: #FF3100;
}

.hidden {
  display: none;
}
.unclickable {
  pointer-events: none;
}
a {
  color: white;
  &:visited {
    color: white;
  }
}

a img{
  z-index: 10;
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    background-color: #fa4200;
    border-radius: 24px;
    text-decoration: none;
  }
  &:active {
    background-color: #ff5f00;
    border-radius: 24px;
    text-decoration: none;
  }
}

button, .button {
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0.4rem 0.3rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-radius: 4px;
  font-size: 94%;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
  background-color: #008cba;
  border-color: #0079a1;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 12px;
  padding-bottom: 13px;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important; }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #0079a1; }
  button:hover, button:focus, .button:hover, .button:focus {
    color: white; }
  button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: #008cba;
    border-color: #0079a1;
    color: white;
    cursor: default;
    opacity: 0.7;
    -webkit-box-shadow: none;
    box-shadow: none; }
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #0079a1; }
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      color: white; }
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #008cba; }
    button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
      background-color: #e7e7e7;
      border-color: #dadada;
      color: #333333;
      cursor: default;
      opacity: 0.7;
      -webkit-box-shadow: none;
      box-shadow: none; }
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: #dadada; }
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        color: #333333; }
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: #e7e7e7; }
    button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
      background-color: #43ac6a;
      border-color: #3c9a5f;
      color: white;
      cursor: default;
      opacity: 0.7;
      -webkit-box-shadow: none;
      box-shadow: none; }
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #3c9a5f; }
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        color: white; }
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #43ac6a; }
    button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
      background-color: #f04124;
      border-color: #ea2f10;
      color: white;
      cursor: default;
      opacity: 0.7;
      -webkit-box-shadow: none;
      box-shadow: none; }
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #ea2f10; }
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        color: white; }
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #f04124; }

.notice, .alert {
  width: 100%;
  margin: 0 auto;
}
.button.finalcancel:hover {
  background-color: rgb(226, 0, 0);
}
.button.finalcancel {
  background-color: red;
  transition: background-color 300ms ease-out;
}
.clicktoclose, clicktohighscores {
  cursor: pointer;
}
#signin-with {
  margin-top: 40px;
  text-align: center;
}
.login-logos {
  display: inline-block;
}
.login-logos :hover {
  background-color: transparent;
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
  border-radius: 0;
  transform: rotate(-20deg);
  transition-duration: 500ms;
  -webkit-transform: rotate(-20deg);
  -webkit-transition-duration: 500ms;
}
#landlet1 {
  transform: rotate(random(32)-16deg);
}
#landlet2 {
  transform: rotate(random(32)-16deg);
}
#landlet3 {
  transform: rotate(random(32)-16deg);
}
#landlet4 {
  transform: rotate(random(32)-16deg);
}
#landlet5 {
  transform: rotate(random(32)-16deg);
}
#landlet6 {
  transform: rotate(random(32)-16deg);
}
#landlet7 {
  transform: rotate(random(32)-16deg);
}
#landlet8 {
  transform: rotate(random(32)-16deg);
}
.letter {
  background-image: url(asset-path('TileBG.jpg'));
}
.letter.A {
  background-position-x: 12%;
  background-position-y: 68%;
}
.letter.B {
  background-position-x: 88%;
  background-position-y: 2%;
}
.letter.C {
  background-position-x: 14%;
  background-position-y: 51%;
}
.letter.D {
  background-position-x: 47%;
  background-position-y: 90%;
}
.letter.E {
  background-position-x: 45%;
  background-position-y: 22%;
}
.letter.F {
  background-position-x: 70%;
  background-position-y: 9%;
}
.letter.G {
  background-position-x: 44%;
  background-position-y: 76%;
}
.letter.H {
  background-position-x: 30%;
  background-position-y: 50%;
}
.letter.I {
  background-position-x: 98%;
  background-position-y: 6%;
}
.letter.J {
  background-position-x: 38%;
  background-position-y: 22%;
}
.letter.K {
  background-position-x: 22%;
  background-position-y: 20%;
}
.letter.L {
  background-position-x: 90%;
  background-position-y: 55%;
}
.letter.M {
  background-position-x: 49%;
  background-position-y: 59%;
}
.letter.N {
  background-position-x: 16%;
  background-position-y: 18%;
}
.letter.O {
  background-position-x: 85%;
  background-position-y: 82%;
}
.letter.P {
  background-position-x: 23%;
  background-position-y: 43%;
}
.letter.Q {
  background-position-x: 10%;
  background-position-y: 60%;
}
.letter.R {
  background-position-x: 34%;
  background-position-y: 26%;
}
.letter.S {
  background-position-x: 82%;
  background-position-y: 75%;
}
.letter.T {
  background-position-x: 45%;
  background-position-y: 76%;
}
.letter.U {
  background-position-x: 23%;
  background-position-y: 88%;
}
.letter.V {
  background-position-x: 56%;
  background-position-y: 50%;
}
.letter.W {
  background-position-x: 80%;
  background-position-y: 67%;
}
.letter.X {
  background-position-x: 65%;
  background-position-y: 55%;
}
.letter.Y {
  background-position-x: 44%;
  background-position-y: 70%;
}
.letter.Z {
  background-position-x: 6%;
  background-position-y: 80%;
}
body {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.highscores {
  width: 270px;
  font-size: 18px;
  margin: 20px auto;
  padding: 8px;
  border: 3px outset #33fcdd;
  border-radius: 3px;
}
.menulinks {
  font-size: 16px;
  width: 270px;
  margin: 2px auto;
  text-align: center;
}
.playergamelist {
  font-size: 16px;
  width: 250px;
  margin: 2px auto 20px;
  text-align: center;
  border: 1px grey solid;
  padding: 6px;
}
.playergamelist li{
  margin: 4px 0;
  font-size: 15px;
}
.gameplayed {
  margin-left: 10px;
}
.gameplayedrank {
  float: right;
  margin-right: 10px;
}
#menuwindow, .submitmessage {
  display: none;
  position: fixed;
  z-index: 500001;
  top: 28%;
  left: calc(50% - 106px);
  background-color: rgba(0,0,0,.8);
  padding: 8px;
  width: 194px;
  font-size: 14px;
  text-align: center;
  border: 1px solid red;
}
#menuwindow a:link, .submitmessage a:link {
  text-decoration: none;
}
#menuwindow .button {
  width: 54px;
}
.gamemenubuttons {
  margin-bottom: 20px;
}

