<!DOCTYPE html>
<html>
<head>
  <title>SumWords</title>
  <meta name="description" content="Welcome to SumWords - Place 10 letters on the board to get as many points as you can.">
  <meta name="keywords" content="SumWords">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <!--<link href="/assets/application.css.scss" media="screen" rel="stylesheet" />
  <script src="/assets/application.js"></script> -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,300italic,300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
