<!DOCTYPE html>
<html>
<head>
  <title>AcroFriends</title>
  <meta name="description" content="Welcome to AcroFriends - the casual turn-based acronym creation word game inspired by the classic game Acrophobia.">
  <meta name="keywords" content="AcroFriends, acronyms, game, casual, Acrophobia, browser game">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,300italic,300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
